
/* added stlyes for the dark mode toggle */
  .dark-mode__toggle {
    background: purple;
    border-radius: 50px;
    border: 1px solid black;
    height: 20px;
    position: relative;
    width: 40px;
  }
  
  .toggle {
    background: pink;
    border-radius: 50px;
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
  }
  
  .toggled {
    left: 18px;
  }

  .dark-mode {
    color:whitesmoke;
    background-color: #313843;
}
